<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">    
    <title>Tock-Tock</title>
</head>
<body>
    <div class="container">
        <h1>Tock-Tock</h1>
        <a href="{{ url_for('static', filename='Tock-Tock.apk') }}"class="button dark">
            <ul>
                <li>Descargar</li>
                <li>Descargando</li>
                <li>Open File</li>
            </ul>
            <div>
                <svg viewBox="0 0 24 24"></svg>
            </div>
        </a>
    
    </div>
    
    <!-- dribbble -->
    <a class="dribbble" href="https://dribbble.com/shots/7299868-Download-Buttons" target="_blank"><img src="https://cdn.dribbble.com/assets/dribbble-ball-mark-2bd45f09c2fb58dbbfb44766d5d1d07c5a12972d602ef8b32204d28fa3dda554.svg" alt=""></a>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>